
.update-dot-base
{
    background-color: orange;
    position: absolute;
    float: left;
    border-radius: 99999px;
    width: 15px;
    height: 15px;
}

.update-dot-base.top-right
{
    right: -6px;
    top: -6px;
}




input-enhanced >* .input-context
{
    border-width: 2px;
    border-right-width: 0px;
    border-style: inset;
    border-image: initial;
    border-top-left-radius: 999px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 999px;
}

input-enhanced >* .input-context > .content
{
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    cursor: default;
    user-select: none;
}

input-enhanced >* .input-context >* span
{
    color: green;
}


input-enhanced >* input.input
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

input-enhanced >* .left-icon
{
    position: absolute;
    right: 12px;
    top: 4px;
    user-select: none;
}

input-enhanced >* .left-icon:hover
{
    cursor: pointer;
}

input-enhanced >* .input-context-dimensions
{
    width: 25px;
    height: 24px;
}

input-enhanced >* .input-dimensions
{
    width: calc(100% - 25px);
    height: 24px;
    position: relative;
}




lock-icons >* .white-space-dimensions
{
    width: calc(100% - 24px);
    height: inherit;
}

lock-icons >* .white-space-dimensions::after
{
    content: " ";
}

lock-icons >* .dimensions
{
    width: 24px;
    position: relative;
    height: inherit;
}

lock-icons >* .icon-base
{
    height: inherit;
    width: 24px;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-bottom-left-radius: 999px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    cursor: pointer;
}

lock-icons >* .icon-base.lock
{
    background-color: white;
}

lock-icons >* .icon-base.delete
{
    height: inherit;
    position: absolute;
    top: 0px;
    right: 30px;
    transition: right 0.4s;
    background-color: red;
    z-index: -1;
}


image-selection
{
    height: 150px;
    width: 150px;
}

image-selection > input.file
{
    display: none;
}

image-selection > label.file-label
{
    height: inherit;
    width: inherit;
    cursor: pointer;
    position: relative;
}

image-selection > label > img
{
    height: inherit;
    width: inherit;
}

image-selection > label > img .update-dot-base.position
{
    right: -6px;
    top: -6px;
}
